*,
body,
html {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	user-select: none;
	touch-action: none;
	background-color: #333333;
}

@font-face {
	font-family: "digital-7";
	font-style: "normal";
	font-weight: 800;
	src: local("digital-7"), url("../font/digital-7 (mono).ttf") format("truetype");
}

#game-screen {
	border: 2px solid black;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	z-index: 0;
}

#distance-label,
#best-label,
#pilot-label,
#high-scores-label {
	z-index: 1;
	position: absolute;
	font-size: 6.5vmin;
	background: transparent;
	font-family: "digital-7";
	color: #000000;
}

#distance-value,
#best-value,
#pilot-value {
	background: transparent;
}

#pilot-label:hover,
#high-scores-label:hover {
	cursor: pointer;
}

#initials-section {
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: transparent;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-family: "digital-7";
	font-size: 6.5vmin;
	color: #33ccff;
	display: none;
	pointer-events: none;
}

#initials-label {
	background: transparent;
}

#initials-form {
	margin: 4px;
	margin-top: 1rem;
	background: transparent;
}

#initials-input {
	font-family: "digital-7";
	font-size: 18vmin;
	color: #33ccff;
	background: transparent;
	width: 24.55vmin;
	border: 0.45vmin solid #33ccff;
	outline: none;
	pointer-events: all;
}

#initials-input:focus {
	outline: none;
	caret-color: transparent !important;
}

::placeholder {
	color: #33ccff;
	opacity: 0.25;
}

#initials-input-caret-box {
	position: relative;
	margin: auto;
	background: transparent;
	width: fit-content;
}

#initials-input-caret {
	position: absolute;
	z-index: 2;
	background-color: #33ccff;
	height: 100%;
	animation: blink 1s infinite;
	pointer-events: none;

	left: 4%;
	top: 17.5%;
	width: 27.5%;
	height: 64%;
}

#high-scores {
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	font-family: "digital-7";
	font-size: 6.5vmin;
	color: #33ccff;
	background: transparent;
	display: none;
}

@keyframes blink {
	from,
	to {
		opacity: 0%;
	}
	50% {
		opacity: 35%;
	}
}
