:root {
	--blue: #33ccff;
	--gray: #333333;
	--black: #000000;
}

@font-face {
	font-family: "digital-7";
	font-style: "normal";
	font-weight: 800;
	src: local("digital-7"), url("../font/digital-7-mono.ttf") format("truetype");
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "digital-7";
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body,
html {
	overflow: hidden;
	touch-action: none;
	position: absolute !important;
	width: 100%;
	height: 100%;
}

#container {
	z-index: 0;
	position: absolute !important;
	width: 100%;
	height: 100%;
}

#game-canvas {
	position: absolute;
	z-index: 2;
	pointer-events: none;
}

#ghost-canvas {
	display: none;
	z-index: -2;
	pointer-events: none;
}

#backdrop {
	position: absolute;
	background-color: var(--gray);
	z-index: 1;
	width: 100%;
	height: 100%;
}

#overlay {
	position: absolute;
	background-color: var(--gray);
	z-index: 3;
	height: 200%;
	pointer-events: none;
}

#distance-label,
#best-label,
#pilot-label,
#high-scores-label {
	z-index: 5;
	position: absolute;
	font-size: 60px;
	color: var(--black);
}

#pilot-label:hover,
#high-scores-label:hover {
	cursor: pointer;
}

#distance-label,
#best-label {
	pointer-events: none;
}

#pilot-label-ghost {
	border: 2px solid red;
	position: absolute;
	z-index: 4;
	cursor: pointer;
	opacity: 0;
}

#initials-section {
	z-index: 4;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 60px;
	color: var(--blue);
	pointer-events: none;
}

#initials-input {
	font-size: 166px;
	color: var(--blue);
	width: 228px;
	border: 4px solid var(--blue);
	outline: none;
	pointer-events: all;
	background: transparent;
	text-transform: uppercase;
	caret-color: transparent !important;
}

#initials-input-caret-box {
	position: relative;
	margin: auto;
	width: fit-content;
	width: -moz-fit-content;
}

#initials-input-caret {
	position: absolute;
	z-index: 5;
	background-color: var(--blue);
	animation: blink 1s infinite;
	pointer-events: none;
	left: 4%;
	top: 17.5%;
	width: 27.5%;
	height: 64%;
}

#initials-submit-label {
	font-size: 60px;
	color: var(--blue);
}

#high-scores {
	list-style: none;
	z-index: 4;
	font-size: 60px;
	color: var(--blue);
	pointer-events: none;
}

#controls {
	z-index: 4;
	position: absolute;
	animation: blink-bright 1s infinite;
	color: var(--blue);
	display: flex;
	align-items: center;
	pointer-events: none;
}

.visible {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.1s linear;
}

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.1s, opacity 0.1s linear;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

@keyframes blink {
	from,
	to {
		opacity: 0%;
	}
	50% {
		opacity: 35%;
	}
}

@keyframes blink-bright {
	from,
	to {
		opacity: 0%;
	}
	50% {
		opacity: 100%;
	}
}
